* {
    box-sizing: border-box;
}

body {
    background-image: url("https://assets.isu.pub/document-structure/200402174112-bc72a9946c50f9c70455eb90d5e4261e/v1/0e251a062e1145b016fd82a1e1e9421d.jpg");
    background-size: cover;
    color: white;
}


.pagination > li > a {
    background-color: #2c2f33;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: white;
    background-color: grey;
    border-color: #ddd;
}